@media (min-width: 768px) and (max-width: 990px) {
  .mainNav ul li {
    margin-left: 20px;
  }
  .bannerCont p {
    line-height: 50px;
  }
  .wedoImg,
  .contactSec {
    overflow: hidden;
  }
  .wedoImg img {
    height: 100%;
    width: auto;
  }
  .wedocont {
    min-height: 390px;
    padding: 17px 15px;
    position: relative;
  }
  .paddingRight {
    padding-right: 0;
  }
  .singleTest {
    padding: 0 60px;
    text-align: center;
  }
  .noPaddingLeft {
    padding-left: 15px !important;
  }
  .phone {
    margin-top: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .mobileMenu {
    width: 35px;
    height: 20px;
    line-height: 0.2;
    position: absolute;
    right: 15px;
    top: -18px;
    cursor: pointer;
    font-size: 40px;
  }

  .mobileMenu span {
    width: 100%;
    height: 2px;
    background: #fff;
    display: inline-block;
  }
  .fixedHeader .mobileMenu span {
    background: #000;
  }

  .mainNav {
    width: 100%;
    display: block;
    position: relative;
    top: -35px;
    left: -10px;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
  }

  .mainNav ul {
    background: #fff;
    display: none;
    left: 0;
    margin-top: 30px;
    position: absolute;
    text-align: center;
    width: 80%;
    margin: auto;
    z-index: 3;
  }
  .mainNav ul li {
    display: block;
    margin-left: 0;
  }
  .mainNav ul li a {
    display: block;
    margin: 30px 0;
    color: #333;
  }

  .bannerCont {
    margin-top: -50px;
  }

  .bannerCont h1 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 25px;
  }

  .bannerCont h2 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 1.5;
  }

  .bannerCont p {
    line-height: 1.5;
    font-size: 15px;
    margin: 10px;
    margin-bottom: 10px;
  }

  h1,
  h2,
  h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 20px;
  }

  .logo .col-sm-3 {
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .logo {
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: px;
  }

  .logo2 {
    width: 80%;
    margin: auto;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo img {
    width: 100px;
    height: 100px;
    margin: -10px;
  }

  .logo2 img {
    margin-right: 35px;
    margin-left: 40px;
    margin-top: -50px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .travelBtn {
    padding: 17px 20px;
  }
  #expert-btn {
    font-size: 15px;
  }
  .wedocont {
    padding: 50px 0;
  }
  #about h2 {
    margin-top: 150px;
  }
  #about h3 {
    font-size: 16px;
    margin: 10px;
    font-weight: bold;
    padding-top: 20;
    line-height: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: initial;
  }
  p {
    font-size: 15px;
  }
  .wedocont.one::after {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 12px 13px;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -13px;
    width: 0;
  }
  .wedocont.two::after {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 12px 13px;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -12px;
    width: 0;
    z-index: 1;
    transform: rotate(0deg);
  }
  .commonTitle h3 {
    margin-top: 40px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px !important;
    line-height: 1;
    width: 91%;
    margin: auto;
    text-align: center !important;
  }

  .expeditions .expitext {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .commonTitle p {
    text-align: justify;
    margin: 5px;
  }

  .singlePromotion {
    margin: 10px 10px;
    padding-bottom: 10px;
  }

  .singlePromotion img {
    margin: auto auto 20px;
  }

  #todo {
    overflow: hidden;
  }
  .calltoActCont p {
    margin-bottom: 32px;
    margin-left: 0;
  }
  .calltoActCont h2 {
    font-size: 20px;
  }
  .vidContent h2 {
    font-size: 80px;
  }
  .videoSection {
    height: 350px;
  }
  .conttopRight {
    bottom: 0;
    left: 0;
    margin-bottom: 50px;
  }
  .paddingRight {
    padding-right: 0;
  }
  .contactForm {
    margin-left: 15px;
    padding: 20px;
    margin-top: 40px;
  }
  .contactForm::after {
    width: 50%;
  }
  .contFormBott {
    padding-left: 0;
  }
  .topTitle h3 {
    line-height: 24px;
  }
  .singleConForm {
    padding-left: 95px;
  }
  .singleTest {
    padding: 0;
  }
  #instRow {
    padding: 0 25px;
  }

  .socialfooter {
    margin-top: 30px;
    width: 80%;
    margin: auto;
    padding-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .copyPera {
    text-align: center;
    margin-bottom: 10px;
  }

  footer {
    width: 80% !important;
    margin: auto;
  }
  .contactSec {
    overflow: hidden;
  }
  .subsNotice p,
  .consNotice p {
    font-family: "Merriweather", serif;
    font-size: 24px;
    padding: 0 20px;
    width: 100%;
  }
  .subsForm {
    width: 90%;
    margin: auto;
  }
  .subsForm input {
    padding: 15px 30px;
    border-radius: 12px;
    width: 75% !important;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .subsForm button {
    position: relative;
    width: 40%;
    margin: auto;
  }

  #expertsignup {
    width: 100%;
  }

  #expertsignup input {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
  }

  #expertsignup p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 13px;
  }

  .sliding-item .text-center {
    font-weight: bold;
    color: #000;
    margin: 1px;
    font-size: 11px;
  }

  .sliding-item img {
    border-color: rgb(11, 97, 44);
  }

  .carousel-control {
    padding-top: 10px;
    width: 2%;
    font-size: 40px !important;
    margin-top: 1%;
    background: transparent !important;
  }

  .col-xs-6 {
    padding-right: 3px;
    padding-left: 3px;
  }

  .carousel-control {
    padding-top: 27%;
    width: 5%;
    font-size: 80px !important;
    margin-top: 5%;
    background: transparent !important;
    margin-left: -15px;
    margin-right: -13px;
  }

  .tuned {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
  }

  /**subscription **/
  .subscriptionSuccess,
  .contactSuccess {
    width: 50%;
    height: 40%;
    position: fixed;
    left: 30%;
    top: 40%;
    z-index: 9999;
    background: #fff;
    display: none;
    border: 1px solid #000;
    margin-top: 20px;
    border-radius: 2px;
  }

  .subsNotice,
  .consNotice {
    width: 100%;
    height: 200px;
    background: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }
  .subsNotice i,
  .consNotice i {
    border-radius: 20%;
    background-color: rgb(240, 240, 11);
    color: #000;
    font-size: 40px;

    text-align: center;
    height: 40px;
    width: 45px;
    /*padding: 10px 0;*/
  }
  .subsNotice p,
  .consNotice p {
    color: #000;
    font-family: "Merriweather", serif;
    font-size: 12px;
    margin-top: 20px;
    text-transform: initial;
    line-height: 20px;
    display: inline-block;
    font-weight: bold;
  }

  .close {
    font-size: 20px;
  }
  /* navigation button*/

  .btn-subscribe {
    padding: 10px 20px;
  }
}
